---
layout: page
title: Experience
---


<div class="posts">

{% assign experience_list = site.experiences %}
{% for experience in experience_list%}

  <table class="pure-table experience">
    <tbody>
        <tr>
          <div class="unwrapper">
            <td class="row-me">
              {% for org in experience.organizations %}
                <a href="{{ org.orgLink }}">
                  <img class="pure-img-responsive experience" src="{{ site.baseurl }}{{ org.image }}" alt="{{ org.altText}}" />
                </a>
              {% endfor %}
            </td>
            <td class="row-me">
              {{ experience.content }}
            </td>
          </div>
        </tr>
    </tbody>
  </table>

{% unless forloop.last %}
<hr>
{% endunless %}
{% endfor %}

<p><strong><a href="{{ site.baseurl }}projects">Not enough? Look at some of some different projects of mine.</a></strong></p>
</div>
