---
layout: page
title: Projects
---

<div class="posts">
  {% assign project_list = site.projects %}
  {% for project in site.projects %}
  <div class="post">
    <h1 class="post-title">
      {{ project.title }}
      {% if project.github %}
      <a href="{{project.github}}"><i class="fa fa-git-square fa-fw"></i></a>
      {% endif %}
      {% if project.link %}
      <a href="{{project.link}}"><i class="fa fa-code fa-fw"></i></a>
      {% endif %}
      {% if project.attachment %}
      <a href="{{project.attachment}}"><i class="fa fa-file fa-fw"></i></a>
      {% endif %}
    </h1>
    <hr/>
    <span class="post-date">{{ project.tagline }}</span>
    {{ project.content }}
  </div>
  {% endfor %}
  <p><strong><a href="{{ site.baseurl }}skills">Read more about about my different technical experiences</a></strong></p>
</div>
